.UrlBar-AddressField {
    max-width: 1000px;
    border-radius: 10px;
}

.UrlBar.toolbar.toolbar-mainbar.toolbar-large {
    justify-content: center;
}

.tab.active .favicon {
    filter: none !important;
}

.speeddial .dial {
    background-color: #6868686b;
    border-radius: 40px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.speeddial:hover .dial:hover {
    border-radius: 20px;
    background-color: #bbbbbb6b;  
}